# Supabase Configuration
SUPABASE_URL=https://xfayujjnoiwccrftgraw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhmYXl1ampub2l3Y2NyZnRncmF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAxNTE3MDUsImV4cCI6MjA2NTcyNzcwNX0.Tzy--3ayYVkte1d8xFO2maX7V-Vnb57fkmpkHZCG1O0

# JWT Secret (change this in production)
JWT_SECRET=gh1hdgHAfeDc0sCWtEvu22IBDtqhXS5vNZxDoTVxySTYdtbtPdpJfSaJj/nSZxrNmQGmaOouRVNJLI5LyzLjnQ==

# Email Configuration (if using email features)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=ayeshadhan1@gmail.com
EMAIL_PASS=uzjf fifw frmb dodp